In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('teste.txt', sep=',')

In [13]:
df.head(7)

         Teste 123 frase 1  Unnamed: 1
0        Teste 123 frase 1         NaN
1        Teste 123 frase 1         NaN
2        Teste 123 frase 1         NaN
3        Teste 123 frase 1         NaN
4        Teste 123 frase 1         NaN
5        Teste 123 frase 1         NaN
6  Teste 123 frase 1 hello         NaN